#preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.preloader-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;

}

@keyframes fade {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

#r1 {
  animation: animationTwo 2s linear infinite alternate;
}

#r2 {
  animation: animationThree 2s linear infinite alternate;
}

@keyframes animationOne {
  0% {
    opacity: 0;
    color: #F0920D;
  }

  33% {
    opacity: 1;
    color: #F0920D;
  }

  100% {
    opacity: 1;
    color: #F0920D;
  }
}

@keyframes animationTwo {
  0% {
    opacity: 0;
    color: #F0920D;
  }

  33% {
    opacity: 0;
    color: #F0920D;
  }

  66% {
    opacity: 1;
    color: #F0920D;
  }

  100% {
    opacity: 1;
    color: #F0920D;
  }
}

@keyframes animationThree {
  0% {
    opacity: 0;
    color: #F0920D;
  }

  66% {
    opacity: 0;
    color: #F0920D;
  }

  100% {
    opacity: 1;
    color: #F0920D;
  }
}



.faq-wrapper {
  margin: auto;
  padding: 25px;
  width: 100%;
  /* border: 1px solid grey; */
  /* border-radius: 30px; */
  /* background-color: #363738; */
}

.faq-wrapper>p {
  margin: 0.7em;
  letter-spacing: 3px;
  font-size: 2em;
  font-weight: bold;
  color: white;
  background-color: black;
  transition: 0.5s;
}

.accordion {
  width: 100%;
  height: 60px;
  color: black;
  font-size: 1.2em;
  border: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  outline: none;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  /* font-family: 'Roboto', sans-serif; */
  align-items: center;
  border-radius: 10px;


}

.active,
.accordion :hover {
  /* background-color: orange; */
  transition: 0.5s;
}



.answer {
  padding: 0rem 0.55rem 0.5rem;
  overflow: hidden;
  background-color: orange;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  transition: 0.4S;
  display: none;
}

.answer p {
  background-color: rgba(0, 0, 0, 0.9);
  /* padding: 5px; */
  color: rgb(222, 222, 222);
  line-height: 1.4;
  transition: 0.5s;
  font-size: 1.2rem;
  padding: 30px 10px;

}

.faq-border {
  border: 1px solid #fff !important;
  border-radius: 10px !important;
}

.faq {
  margin: 10px 0px;
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  border-radius: 20px;
  /* padding: 10px; */
}

.faq svg {
  fill: #fff;
}

.faq .active {
  border: none;
  transition: 0.4s;
}

.map {
  background-color: #363738;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border-radius: 20px;
}

.map iframe {
  border-radius: 20px;
}

.map .trasportation .tab {
  border-bottom: 3px solid #f0920d;
  margin: 20px 0px;
}

.map .trasportation .tab p {
  margin-bottom: 2px;
  font-size: 16px;
}

.map .trasportation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-width: 300px;
  min-height: 450px;
  background: #f8f9fa;
  border-radius: 20px;
}

.map .trasportation .details .route {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 230px;
}

.map .trasportation .details .route p {
  font-size: 14px;
}

@media screen and (max-width: 500px) {
  .map {
    flex-wrap: wrap;
  }

  .map .trasportation {
    min-width: -webkit-fill-available;
  }
}

/* ..............FAQ Ends...........*/

/* .....................gallery.......... */
.box {
  position: relative;
  width: 200px;
  height: 300px;
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }

  100% {
    transform: perspective(1000px) rotateY(360deg);
  }

}

.gallery_sec {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100dvh;
  background: url(../images/prev/img21.jpg);
  background-size: cover;
}

.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i)* 45deg)) translateZ(400px);
  /* -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004); */
}

.box span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo_comsoc {
  background-image: url(../images/tesseract.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 25px;
  margin-top: 5px;
}

@media screen and (max-width: 500px) {
  .faq-wrapper {
    padding: 5px;
  }

}